* {
  box-sizing: border-box;
}

 
.login-page {
  background-color: rgb(155, 163, 172);
  color: white;
  min-height: 200px;
  padding: 4%;
  margin: 10% 2%;
  border-radius: 10px;
}

.login-form {
  margin: 0 15%;
}

.form-row {
  display: flex;
  margin-bottom: 2%;
}

.form-row input {
  flex: 1;
}

.form-row label {
  margin-right: 2%;
}


.login-button {
  color: white;
  font-size: 18px;
  min-height: 30px;
  width: auto;
  background-color: rgb(207, 55, 55);
  border: 1px solid rgb(207, 55, 55);
  border-radius: 10px;
  margin: 4% 0;
}

@media only screen and (min-width: 600px){
  .login-page {
    background-color: rgb(155, 163, 172);
    color: white;
    min-height: 200px;
    margin: 10% 20%;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1000px){
  .login-page {
    background-color: rgb(155, 163, 172);
    color: white;
    min-height: 300px;
    margin: 6% 20%;
    border-radius: 10px;
  }
  .login-form {
    margin: 0 20%;
  }
}

