* {
  box-sizing: border-box;
}

body {
  background-image: url(http://vater.s3.amazonaws.com/artists/Abe%20Cunningham%20Photo%20Credit%20Ed%20Davis.jpg)
}

select:hover{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}