

.post-form-container {
  font-style: oblique;
  color: white;
  background-color: rgb(238, 131, 98);
  text-align: center;
  margin: 2% 20%;
  padding: 4%;
  border-radius: 5px;
}

.post-form-row {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.post-form-row label {
  margin: 1.5% 0;
  margin-right: 2%;
}

.post-select {
  font-size: 16px;
  color: white;
  background-color: rgb(155, 163, 172);
}

.instrument-select {
  background-color: rgb(155, 163, 172);
  min-width: 150px;
}

.description-text {
  font-size: 16px;
  color: white;
  background-color: rgb(155, 163, 172);
}

.description-text::placeholder{
  color: white;
}

.post-form-button {
  color: white;
  font-size: 18px;
  min-height: 30px;
  width: auto;
  background-color: rgb(207, 55, 55);
  border: 1px solid rgb(207, 55, 55);
  border-radius: 10px;
  margin: 4% 0;
}


@media only screen and (min-width: 1100px){
  .post-form-container {
    padding-left: 10%
  }

  .post-form-button {
    margin-right: 14%;
    font-size: 24px;
    min-height: 36px;
  }
}