.post-info {
  color: white;
  background-color: rgb(238, 131, 98);
  margin: 1% 15%;
  border-radius: 5px;
}

.post-type {
  margin: 0;
  padding-top: 4%;
}

.description {
  margin: 0;
  padding: 20px;
}

.comment-container {
  background-color: rgb(203, 214, 223);
}

.comment-header { 
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding-top: 2%;
}

.comment:nth-child(even) {
  background-color: rgb(107, 146, 190);
}

.comment:nth-child(odd) {
  background-color: rgb(238, 131, 98);
}
.comment {
  color: white;
  text-align: left;
  margin: 2% 15%;
  padding: 0 5%;
  border: 1px solid black;
  border-radius: 5px;
}

@media only screen and (max-width: 600px){
  .post-item-attr {
    margin-left: 10%;
  }

  .post-item-attr > li {
    max-width: 80%;
  }
}

@media only screen and (min-width: 600px){
  .post-item-attr {
    margin-left: 32%;
  }

  .post-item-attr > li {
    max-width: 80%;
  }
}





