.reg-form-container {
  font-style: oblique;
  color: white;
  background-color: rgb(107, 146, 190);
  text-align: center;
  margin: 2% 10%;
  padding: 4%;
  border-radius: 5px;
}

.reg-form-row {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-form-row label {
  margin: 1.5% 0;
  margin-right: 2%;
}

.reg-form-row select {
  background-color: rgb(155, 163, 172);
  border: 1px solid rgb(155, 163, 172);
  color: white;
}

.reg-form-row input {
  background-color: rgb(155, 163, 172);
  border: 1px solid rgb(155, 163, 172);
  color: white;
  border-radius: 3px;
}

.reg-form-row input::placeholder {
  color: white;
}

.reg-form-multi {
  border-radius: 3px;
}

.reg-form-button {
  color: white;
  font-size: 18px;
  min-height: 30px;
  width: auto;
  background-color: rgb(207, 55, 55);
  border: 1px solid rgb(207, 55, 55);
  border-radius: 10px;
  margin-top: 1%;
}